/* Created by Campus*/
 /* App container */
 .app__container {
    background-color: #F5F5F5;
  }
 
.home-carts {
    padding: 36px 0;
}

/* Carts */
.carts {

}

.carts__heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--text-color);
}

.carts-table {
  border-collapse: collapse;
  width: 100%;
}

.carts-item__list-heading {
  background-color: #f2f2f2; 
  border-radius: 1px;
  border: 1px solid var(--border-product-color);  
}

.carts-item__title {
  background-color: rgb(27, 164, 125);
  text-align: left;
  padding: 12px;
  color: var(--white-color);
  font-size: 1.6rem;
}

.carts-item__list {
  border: 1px solid var(--border-product-color);  
}

.carts-item__list:hover {
  background-color: #ddd;;
}

.carts-item {
  font-size: 1.6rem;
  font-weight: 400;  
  padding: 6px 10px;
}

.carts-item__img {
  border: 1px solid var(--border-product-color);  
  width: 80px;
}

.carts-item__quantity {
  padding-left: 10px;
}

.carts-item__delete {

}

.carts-item__delete-active {
  margin: 0 30px;
  display: inline-flex;
  text-decoration: none;
  height: 100%;
}

.carts-item__delete-icon {
  font-size: 3rem;
  color: rgb(227, 66, 41);
  cursor: pointer;
}

.carts-item__delete-icon:hover {
  color: rgb(175, 34, 12);
} 

/* Carts payment */
.carts-payment {
  border: 1px solid var(--border-product-color);
  padding: 14px;
}

.carts-payment__heading {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 30px;
  font-weight: 600;
  color: var(--text-color);
}

.carts-payment__detail {
  border: 1px solid var(--border-product-color);
  padding: 20px 12px;
  text-align: right;
  font-size: 1.6rem;
  font-weight: 400;
}

.carts-payment__detail-total {
  margin-bottom: 12px;
  display: block;
}

.carts-payment__detail-totalcost {
  display: block;
}

.carts-payment__detail-submit {
  min-width: 100%;
  margin: 32px 0 20px 0;
  height: 40px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.4rem;
}

.carts-payment__detail-submit:hover {
    background-color: var(--primary-color-hover);
}