<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>control.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>control.CategoryControl</servlet-class>
    </servlet>
<!--    <servlet>
        <servlet-name>ProductDetailControl</servlet-name>
        <servlet-class>control.ProductDetailControl</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>control.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductControl</servlet-name>
        <servlet-class>control.SearchProductControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>control.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutControl</servlet-name>
        <servlet-class>control.LogoutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupControl</servlet-name>
        <servlet-class>control.SignupControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmailControl</servlet-name>
        <servlet-class>control.SendEmailControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartsControl</servlet-name>
        <servlet-class>control.CartsControl</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/HomeControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControl</servlet-name>
        <url-pattern>/CategoryControl</url-pattern>
    </servlet-mapping>
<!--    <servlet-mapping>
        <servlet-name>ProductDetailControl</servlet-name>
        <url-pattern>/ProductDetailControl</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductControl</servlet-name>
        <url-pattern>/SearchProductControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutControl</servlet-name>
        <url-pattern>/LogoutControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupControl</servlet-name>
        <url-pattern>/SignupControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmailControl</servlet-name>
        <url-pattern>/SendEmailControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartsControl</servlet-name>
        <url-pattern>/CartsControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
